<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ - SmartShop</title>
    <link rel="stylesheet" href="{% static 'myshop/css/style.css' %}">
</head>
<body>
    {% include 'myshop/header.html' %}

    <section id="faq">
        <div class="container1">
            <h2 class="faq-heading">Часті питання</h2>
            <hr>
            <main id="faq-container">
                <details>
                    <summary>Чи можу я прийняти відправлення після відкриття та перевірки вмісту всередині?</summary>
                    <div class="faq__content">
                        <p>Відповідно до політики компанії, відправлення не може бути відкрито до доставки, але ви можете прийняти відправлення і зв'язатися з нами пізніше, якщо у вас виникнуть будь-які питання.</p>
                    </div>
                </details>
                <details>
                    <summary>Яка ваша політика повернення та відшкодування?</summary>
                    <div class="faq__content">
                        <p>Ви можете подати запит на повернення товарів за такими простими кроками: <br><br>
                            1. Увійдіть у свій обліковий запис SmartShop <br><br>
                            2. Перейдіть до розділу "Мої замовлення" <br><br>
                            3. Натисніть "Повернення" біля товару, який ви хочете повернути або обміняти <br><br>
                            4. Заповніть деталі та подайте запит на повернення <br><br>
                            Після подання запиту ви отримаєте електронний лист та SMS з підтвердженням, що ваш запит обробляється. Залежно від товару, ваш запит може бути автоматично схвалений або вам можуть зателефонувати для отримання додаткової інформації.
                            Якщо запит схвалений, товар буде забрано, після чого ви отримаєте заміну або відшкодування. Ви також можете відстежувати статус свого запиту на повернення у розділі "Мої замовлення" у своєму обліковому записі SmartShop.</p>
                    </div>
                </details>
                <details>
                    <summary>Яка ваша політика обміну?</summary>
                    <div class="faq__content">
                        <p>Перейдіть до розділу "Мої замовлення", щоб перевірити статус заміни.
                            У більшості місць заміна товару доставляється вам під час забору. В усіх інших районах заміна ініціюється після того, як початково доставлений товар буде забрано. Будь ласка, перевірте SMS та електронний лист, які ми надішлемо
                            вам для вашого запиту на заміну для отримання додаткової інформації.</p>
                    </div>
                </details>
                <details>
                    <summary>Як я можу отримати безкоштовну доставку?</summary>
                    <div class="faq__content">
                        <p>Щоразу, коли ви замовляєте товари на загальну суму більше ніж 999 грн, ви отримуєте безкоштовну доставку товарів.</p>
                    </div>
                </details>
                <details>
                    <summary>Моє замовлення затримується. Що мені робити?</summary>
                    <div class="faq__content">
                        <p>У рідкісних випадках, коли ваше замовлення затримується, будь ласка, перевірте свою електронну пошту та повідомлення для отримання оновлень. Вам буде надано новий термін доставки, і ви також можете відстежувати його статус, відвідавши розділ "Мої замовлення".</p>
                    </div>
                </details>
                <details>
                    <summary>Чому деякі товари не можуть бути доставлені до мого місцезнаходження?</summary>
                    <div class="faq__content">
                        <p>Деякі продавці вважають за краще не доставляти до певних місць через витрати, і це повністю на їхній розсуд. Ви можете перевірити свій поштовий індекс на сторінці товару, щоб побачити, чи є інші продавці, які доставляють до вашого місцезнаходження.</p>
                    </div>
                </details>
                <details>
                    <summary>Які методи оплати ви приймаєте?</summary>
                    <div class="faq__content">
                        <p>Ми приймаємо всі відомі методи оплати, такі як оплата при доставці, кредитні та дебетові картки, інтернет-банкінг.</p>
                    </div>
                </details>
                <details>
                    <summary>Як я дізнаюся, що моє замовлення підтверджено?</summary>
                    <div class="faq__content">
                        <p>Після успішного оформлення замовлення вам буде надіслано електронний лист та SMS. Ми також повідомимо вас, як тільки продавець відправить товар(и) вам разом з номерами відстеження для вашої відправки(й). Ви можете відстежувати свої замовлення у розділі "Мої замовлення" у своєму обліковому записі.</p>
                    </div>
                </details>
                <details>
                    <summary>Що робити, якщо моє замовлення прийшло пошкодженим?</summary>
                    <div class="faq__content">
                        <p>Якщо ваше замовлення прийшло в зламаному або пошкодженому стані, ви завжди можете оформити заміну, якщо вона доступна.
                            Також ви можете подати запит на повернення замовлення.</p>
                    </div>
                </details>
            </main>
            <div class="contact">
                <h3 class="contact-heading">Потрібна додаткова допомога?</h3>
                <button class="contact-btn" onclick="window.location.href = '{% url 'contact_us' %}'">Зв'яжіться з нами</button>
            </div>
        </div>
    </section>

    {% include 'myshop/footer.html' %}

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'myshop/js/script.js' %}"></script>
</body>
</html>
