/*@font-face {
    font-family: "Open Sans";
    src:
      url("/fonts/webfonts/CalSans-SemiBold.woff2") format("woff2"),
      url("/fonts/webfonts/CalSans-SemiBold.woff") format("woff");
}*/

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: #333;
}

.search-bar {
    display: flex;
    width: 40%;
    align-items: center;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.search-bar button, #clear-filters-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.user-actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.user-actions button:hover {
    text-decoration: underline;
}

nav {
    margin-top: 20px;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.swiper-slide:hover {
    transform: scale(1.05);
}

.swiper-slide img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: 10px;
}

.swiper-slide a {
    text-decoration: none;
}

.swiper-slide p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.swiper-button-next, .swiper-button-prev {
    color: #007bff;
}

main {
    display: flex;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

aside {
    width: 20%;
    background-color: #fff;
    margin: 0 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

aside h2 {
    margin-top: 0;
    font-size: 18px;
}

.filter {
    margin-bottom: 20px;
}

.filter label {
    display: block;
    margin-bottom: 5px;
}

.filter select, .filter input[type="range"], .filter input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.price-inputs {
    display: flex;
    justify-content: space-between;
}

.price-inputs input {
    width: 48%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.products {
    width: 80%;
    margin-right: 20px;
}

.sorting {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

.sorting button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.sorting button:hover {
    background-color: #0056b3;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-tile {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.product-tile img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-tile h3 {
    font-size: 16px;
    margin: 10px 0;
}

.product-tile .price {
    font-size: 18px;
    color: #d9534f;
    margin: 10px 0;
}

.product-tile button {
    padding: 10px 20px;
    border: none;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.product-tile button:hover {
    background-color: #4cae4c;
}

.cart-btn {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    border-radius: 50%;
    background-color: #364364;
    transition: 0.1s;
    cursor: pointer;
    position: fixed;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-btn:hover {
    transform: scale(1.1);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}

.cart-num {
    position: absolute;
    background-color: #d62240;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
}

/* Додатковий CSS для сторінки входу */
.login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

/* Додатковий CSS для сторінки реєстрації */
.registration-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #0056b3;
}

/* Додатковий CSS стиль для сторінки з деталями товару */
#product-page-container {
    display: flex;
    padding: 20px;
    max-width: 100%;
    margin: 30px auto;
}

.product-details {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.product-details img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details .price {
    font-size: 20px;
    color: #333;
}

.product-details p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.product-details .add-to-cart {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-details .add-to-cart:hover {
    background-color: #218838;
}

/* Додатковий CSS стиль для сторінки кошику */
.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.order-form, .cart-items {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.order-form h2, .cart-items h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.order-form form label {
    display: block;
    margin-bottom: 10px;
}

.order-form form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.order-form form button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order-form form button:hover {
    background-color: #0056b3;
}

.cart-items .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart-items .item img {
    width: 50px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
}

.cart-items .item h3 {
    font-size: 18px;
    margin: 0;
}

.cart-items .item .price, .cart-items .item .quantity {
    font-size: 16px;
    margin: 0;
}

.cart-items .item .quantity {
    margin-left: 10px;
    color: #555;
}

/* Додатковий CSS стиль для сторінки FAQ */
#faq {
    padding: 30px 0;
}

.faq-heading {
    margin: 20px 0 !important;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.faq__content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#faq-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

details {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

details summary {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

details[open] summary {
    max-width: 50%;
    color: #f60; /* Змінити на відповідний акцентний колір */
}

.contact {
    margin-bottom: 20px !important;
    text-align: center;
}

.contact-heading {
    margin: 20px 0 !important;
}

.contact-btn {
    padding: 20px 30px;
    font-size: large;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.contact-btn:hover {
    background-color: #0056b3;
}

/* Додатковий CSS стиль для сторінки Контакти */
#contact {
    margin: 50px 0;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}